version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-auction-challenge-mvp-app
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/auction
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: backend-auction-challenge-mvp-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
